* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    background-color: #2b3137;
    color: white;
}

.wrapper {
    margin: 0 auto;
    width: 980px;
    font-size: 1.6rem;
}

#title {
    font-size: 5rem;
    text-align: center;
}

#description {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

#survey-form {
    background: #fafbfc;
    color: black;
    padding: 1.5rem;
    border-radius: 0.7rem;
    border: 1rem solid #00000080;
    margin-bottom: 1.5rem;
}

label {
    font-size: 2rem;
    font-weight: 600;
}

.form-group {
    padding: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
}

.input-textarea {

}

.input-checkbox {

}

.input-radio,
.input-checkbox,
.text-area  {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}



label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  

.submit-button {
    background: #28a745;
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background: #1f7f35;
}